.dirtitle {
  border-radius: 0px 0px 30px 30px;
  background: #dff1ff;
  margin-bottom: 50px;
}

.dirtitle span {
  color: #626d76;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 108.197%;
}

.dirtitle h1 {
  color: #626d76;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 108.197%;
  /* 51.934px */
}

.directorbg {
  /* border-radius: 33px; */
  /* background: #DFF1FF; */
  /* height: 290px !important; */
  display: flex;
  flex-flow: column;
  /* justify-content: flex-end !important; */
  /* border-radius: 0px 60px 0px 60px !important; */
}

.align_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
}

.directorbg h3 {
  color: #425a6c;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 108.197%;
  /* 31.377px */
}

.directorbg h5 {
  color: #494949;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.197%;
  /* 19.475px */
}

.directorbg p:first-of-type {
  display: none;
}

.directorbg button {
  border-radius: 20px;
  background: #7a8995;
  color: #ffffff;
  text-align: justify;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  width: 98px;
  height: 24px;
  margin-top: 6px;
  text-align: center;
  border: none;

  z-index: 1 !important;
}

.directborder {
  /* border-radius: 33px;
    border: 0.5px solid #000; */
}

.direcimg {
  /* position: relative;
    top: 15%;
    z-index: 999 !important; */
}

.dirminus {
  /* margin-top: -5%; */
  /* margin-bottom: -10px */

  margin-top: 40px !important;
}

.dir_side_gap {
  margin: 0 120px 0 120px;
}

@media only screen and (max-width: 1024px) {
  .dir_side_gap {
    margin: auto;
  }

  .dirtitle span {
    font-size: 32px !important;
  }

  .dirtitle h1 {
    font-size: 32px !important;
  }

  .managmentbg h5 {
    height: 35px;
  }

  .managmentbg h5 {
    font-size: 14px !important;
  }
  .managmentbg h3 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 600px) {
  .dirtitle h1 {
    font-size: 32px !important;
  }
  .dirtitle span {
    font-size: 32px !important;
  }

  .dir_side_gap {
    margin: auto;
  }

  .personDetails {
    font-size: 14px !important;
  }
  .dirminus {
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
}
