.unicoForm {
  border-radius: 8.018px;
  background: #FFFFFFDE;
  width: 450px;
  box-shadow: 0px 4.009029388427734px 4.009029388427734px 0px #00000040;
  /* width: 100% !; */
}

.care_form {
  border-radius: 8.018px;
  background: #FFFFFFDE;
  width: 450px;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 4.009029388427734px 4.009029388427734px 0px #00000040;
  /* width: 100% !; */
}

.unicoForm .btn {
  /* background: linear-gradient(117deg, #19438c 21.82%, #d01e2f 83.26%); */
  background-color: var(--primary);
  ;
}

/* .btn {
  background: linear-gradient(90deg, #777EE5 -0.02%, #4080DE 100.02%);
} */

.btn:hover {
  /* background: linear-gradient(117deg, #19438c 21.82%, #d01e2f 83.26%);
  transition: linear 2s; */
  /* background-color:var(--primary);; */
  /* opacity: 0.9; */
  transition: 0.3s;
}

.formDetails {
  position: absolute;
  top: 8%;
  /* bottom: 16%; */
  right: 7%;
  left: auto;
}

.career_form {
  position: absolute;
  top: -9%;
  /* bottom: 16%; */
  left: 7%;
}

.formDetails h2 {
  font-weight: 600;
}

.form-control {
  /* font-size:1.2rem!important ; */
  background: transparent !important;
  color: black !important;
  font-weight: 500 !important;
  border: 1px solid #3C3C4380 !important
}

.form-control::placeholder {
  color: #4D4D4D !important;
}

.form-select {
  /* font-size:1.2rem!important ; */
  background: transparent !important;
  color: black !important;
  font-weight: 500 !important;
  border: 1px solid #3C3C4380 !important
}

.servbox {
  border-radius: 15px;
  background: #FFF;
  /* box-shadow:1px 3px 16px 0.2px rgba(0, 0, 0, 0.15) */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services {
  position: relative !important;
  top: 10%;
}

.servicecol {
  background-color: #CCCEFF;
  z-index: 10;
  height: 309px;
}

/* .services{
  background: #CCCEFF;
  padding-top: 20%;
} */
.servbox>h2 {
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 26.03px */
  text-transform: uppercase;
  padding: 20px;
}

.slick-slide {
  height: 294px !important;
}

.servicetitle h1 {
  color: #47416A;
  font-family: Lexend;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 156.919%;
  /* 43.937px */
}

.servicetitle p {
  background: linear-gradient(91deg, #3B7FDF 0.49%, #8384F3 94.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Lexend;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 58.8px */
}

.topvec {
  margin-bottom: -35px;
}

.sellbtn {
  border-radius: 6px;
  background: linear-gradient(90deg, #9085D3 0%, #71A5F0 100%);
  width: 206px;
  height: 59px;
  flex-shrink: 0;
  color: #ffffff;
  border: none;
  font-weight: 600;
}

.sell_product {
  background: linear-gradient(91deg, #3B7FDF 0.49%, #8384F3 94.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Lexend;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -1px;
}

.topvec img {
  vertical-align: super;
}

.sellprodes {
  color: #5E5959;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.prod_text_bg {
  border-radius: 28px;
  background: linear-gradient(270deg, #AFA9E6 -1.6%, #9BC0F8 100%);
}

.frq_ask_down {
  background-color: #CCCEFF;
  height: 200px;
  width: 100%;
  margin-top: -200px;
  z-index: -1 !important;
  position: absolute;
}

.frequently_desc {
  color: #2D3850;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Noto Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  /* 127.778% */
  letter-spacing: -1px;
}

.frequently_desc span {
  color: #E8292D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Noto Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 1024px) {
  .unicoForm {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .formDetails {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .loanProduct {
    width: 170.549px !important;
    height: 170.756px !important;
  }

  .formDetails {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
  }

  .formDetails h2 {
    color: var(--primary) !important;
    font-size: 26px !important;
  }

  .unicoForm {
    border: 1px solid;
    /* margin: 3px; */
    width: 92%;
    margin-left: 5px;
  }

  .form-select {
    background-color: #fff !important;
  }

  .borderForInput input {
    background-color: #fff !important;
  }
  

  .servicetitle p {
 
    font-size: 35px;
  
}

.sell_product {
 
  font-size: 34px;
 
  line-height: 48px;
 
}

/* .servbox{
  height: 40% !important;
} */

}